* {
    font: 16px Arial, sans-serif;
}
.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.svg-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none; /* Ensure SVG grid doesn't block mouse events */
}

.svg-wrap {
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto; /* Allow mouse events on SVG elements */
}

.svg-wrap {
    width: auto; 
    height: auto;
    object-fit: contain; 
}
.svg-wrap circle {
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-wrap:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}
.gutters {
    grid-column: 3; 
    grid-row: 7; 
}
.crawl-space {
    grid-column: 4; 
    grid-row: 12; 
}
.water-proofing {
    grid-column: 16; 
    grid-row: 13;
}
.foundation {
    grid-column: 6; 
    grid-row: 13; 
}
.svg-wrap.finishing {
    grid-column: 12; 
    grid-row: 13; 

}

#popup {
    display: none; 
    max-width: 100%; 
}

#popupContent {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-color: white; 
    border-radius: 20px;   
}

#popupContent img {
 width: 900px; 
 height:800px; 
 padding: 20px 20px 0px; 
 border-radius: 10px; 
}

.svg-popup-grid {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none; 
}

.svg-popup-wrap {
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto; 
}
.svg-popup-wrap circle {
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-popup-wrap:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}

#close {
    position: absolute;
    top: 10px;
    left: 10px; 
    background: rgb(228, 227, 227);
    border: 1px solid #333;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    outline: none;
    font-weight: 800;
    z-index: 1;
}

#close:hover {
    color: white;
    background: #333;
}


.svg-popup-wrap.finishing {
    grid-column: 9;
    grid-row: 9; 
}


.svg-popup-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none;
}

.svg-popup-wrap {
    position: relative; 
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
}

.svg-popup-wrap circle {
    stroke: rgb(243, 121, 141);
    stroke-width: 1px;
}

.speech-bubble {
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.svg-popup-wrap:hover .speech-bubble {
    display: block;
}

.change-btns{
    display: flex; 
    justify-content: space-between; 
}
.change-btns button {
    border: none; 
    background-color: #ffffff; 
    vertical-align: middle ;
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
    font-weight: 600; 
    cursor: pointer; 
    color: #015eb8; 
    border-radius: 20px; 
}
.change-btns:hover {
    color: #000000; 
}

.hide {
    display: none;
}

#popup-image-finishing {
    transition: opacity 5s ease; 
}

#nextPopup {
    display: none; 
}
#popup-quiz {
    display: none; 
}