* {
    font: 16px Arial, sans-serif;
}

h1 {
    font-size: 2.5rem; 
    color: #005eb8; 
    font-weight: 600; 
    font-family: 'tg-adventor-bold', 'Adjusted Arial Bold Fallback', sans-serif; 
}
.heading {
  
    font-family: tg-adventor-bold, adjusted arial bold fallback, sans-serif;
    padding: 20px; 
    text-align: center;
}

.logo img {
    max-width: 300px; 
    display: flex; 
    justify-content: flex-end; 
}
h2 {
    font-size: 1.5rem; 
    text-align: center; 
    padding: 10px 100px; 
}

.container-wrap {
    max-width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 1400px; 
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.svg-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    pointer-events: none; 
}

#gutters {
    grid-column: 5; 
    grid-row: 11; 
}
#crawl-space {
    grid-column: 6; 
    grid-row: 17; 
}
#water-proofing {
    grid-column: 21; 
    grid-row: 18;
}
#foundation {
    grid-column: 7; 
    grid-row: 17; 
}
#finishing {
    grid-column: 16; 
    grid-row: 18; 
}
#air-purifier {
    grid-column: 15; 
    grid-row:16; 
}

@media screen and (max-width: 1400px) {
    #gutters {
        grid-column: 5; 
        grid-row: 12; 
    }
}

@media screen and (max-width: 1200px) {
    #gutters {
        grid-column: 4; 
        grid-row: 12; 
    }
    #air-purifier {
        grid-column: 15; 
        grid-row:17; 
    }
    #foundation {
        grid-column: 8; 
        grid-row: 18; 
    }
    #crawl-space {
        grid-column: 4; 
        grid-row: 17; 
    }
    #finishing {
        grid-column: 16; 
        grid-row: 18; 
    }
    #water-proofing {
        grid-column: 20; 
        grid-row: 18;
    }
}
@media screen and (max-width: 1040px) {
    .svg-grid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        pointer-events: none; 
    }
    #gutters {
        grid-column: 3; 
        grid-row: 3; 
    }
    #crawl-space {
        grid-column: 3; 
        grid-row: 5; 
    }
    #water-proofing {
        grid-column: 11; 
        grid-row: 5;
    }
    #foundation {
        grid-column: 4; 
        grid-row: 5; 
    }
    #finishing {
        grid-column:8; 
        grid-row: 5; 
    }
    #air-purifier {
        grid-column: 8; 
        grid-row:4; 
    }
}

.svg-wrap {
    position: relative; 
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: auto;
}
.svg-wrap circle {
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-wrap:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}
.svg-wrap .label {
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3000; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    pointer-events: auto; 
    font-weight: 600;   
}

.svg-wrap:hover .label {
    display: block; 
}
/* start popup styles  */
#popup, #popup-wp, #popup-gutters, #popup-crawl, #popup-foundation, #popup-air {
    display: none; 
    max-width: 100%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    z-index: 1000;  
}
#popupContent {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-color: white; 
    border-radius: 20px;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}
#popupContent img {
 width: 850px; 
 height:750px; 
 padding: 20px 20px 0px; 
 border-radius: 10px; 
}

/* styles for svgs within popup */
.svg-popup-grid, .svg-popup-grid-finishing-two, 
 .svg-popup-grid-wp, .svg-popup-grid-gutters, .svg-popup-grid-gutters-two, 
.svg-popup-grid-crawl,
 .svg-popup-grid-crawl-second-slide, .svg-popup-grid-foundation, 
.svg-popup-grid-air, .single-svg, .single-svg-wp, 
.svg-popup-grid-crawl-second-slide, .svg-popup-grid-foundation-second-slide {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none; 
}

.svg-popup-wrap, .svg-popup-wrap-wp, .svg-popup-wrap-gutters, .svg-popup-wrap-crawl, 
.svg-popup-wrap-foundation, .svg-popup-wrap-air, .single-svg-wrap, .single-svg-wrap-wp{
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto; 
}
.svg-popup-wrap circle, .svg-popup-wrap-wp-wp circle, .svg-popup-wrap-gutters circle, 
.svg-popup-wrap-crawl circle, .svg-popup-wrap-foundation circle, 
.svg-popup-wrap-air circle, .single-svg-wrap circle, .single-svg-wrap-wp circle{
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-popup-wrap:hover circle, .svg-popup-wrap-wp:hover circle, .svg-popup-wrap-gutters:hover circle, 
.svg-popup-wrap-crawl:hover circle, .svg-popup-wrap-foundation:hover circle, 
.svg-popup-wrap-air:hover circle, .single-svg-wrap:hover circle, .single-svg-wrap-wp:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}

button#close, button#close-wp, button#close-gutters, button#close-crawl, 
button#close-foundation, button#close-air, .close-quiz {
    position: absolute; 
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: white;
    border: none;
    font-size: 16px;
    color: #888;
    border-radius: 3px; 
}

.top-link {
    display: flex; 
    justify-content: flex-end;
}
.service-link {
    text-decoration: none; 
    color: #005eb8; 
    font-weight: 600; 
    font-size: 1rem; 
}

/* places the popup svgs in their positions on the grid */
.svg-popup-wrap, .svg-popup-wrap-gutters, 
.svg-popup-wrap-crawl, .svg-popup-wrap-foundation, .single-svg-wrap {
    grid-column: 9;
    grid-row: 9; 
}
.single-svg-wrap {
    grid-column: 9;
    grid-row: 8; 
}
.single-svg-wrap.two {
    grid-column: 9;
    grid-row: 12; 
}
.svg-popup-wrap-air{
    grid-column: 9;
    grid-row: 11; 
}
.svg-popup-wrap-air.one {
    grid-column: 9;
    grid-row: 8; 
}
.svg-popup-wrap-air.two {
    grid-column: 9;
    grid-row: 3; 
}
.svg-popup-wrap-air.three {
    grid-column: 9;
    grid-row: 12; 
}
.svg-popup-wrap-foundation.one {
    grid-column: 9;
    grid-row: 6; 
}
.svg-popup-wrap-foundation.two {
    grid-column: 11;
    grid-row: 7; 
}
.svg-popup-wrap-foundation.three {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-foundation.four {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-foundation.five {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-wp{
    grid-column: 12;
    grid-row: 8; 
}
.svg-popup-wrap-wp.one {
    grid-column: 11;
    grid-row: 9; 
}
.svg-popup-wrap-wp.two {
    grid-column: 9;
    grid-row: 12; 
}
.single-svg-wrap-wp {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-gutters{
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-gutters.one {
    grid-column: 16;
    grid-row: 4; 
}
.svg-popup-wrap-gutters.two {
    grid-column: 15;
    grid-row: 5; 
}
.svg-popup-wrap-gutters.three {
    grid-column: 15;
    grid-row: 17; 
}
.svg-popup-wrap-gutters.four {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-crawl{
    grid-column: 9;
    grid-row: 11; 
}
.svg-popup-wrap-crawl.one {
    grid-column: 9;
    grid-row: 8; 
}
.svg-popup-wrap-crawl.two {
    grid-column: 9;
    grid-row: 3; 
}
.svg-popup-wrap-crawl.three {
    grid-column: 10;
    grid-row: 14; 
}
.svg-popup-wrap-crawl.four {
    grid-column: 9;
    grid-row: 9; 
}
/*finishing*/ 
.svg-popup-wrap {
    grid-column: 6;
    grid-row: 10; 
}
.svg-popup-wrap.one {
    grid-column: 9;
    grid-row: 8; 
}
.svg-popup-wrap.two {
    grid-column: 12;
    grid-row: 9; 
}
.svg-popup-wrap.three {
    grid-column: 10;
    grid-row: 14; 
}
.svg-popup-wrap.four {
    grid-column: 9;
    grid-row: 9; 
}



.svg-popup-grid, .single-svg, .single-svg-wp, .svg-popup-grid-gutters-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none;
}


.svg-popup-wrap, .svg-popup-wrap-wp,
 .svg-popup-wrap-gutters, .svg-popup-wrap-crawl, 
 .svg-popup-wrap-foundation, .svg-popup-wrap-air, .single-svg-wrap , .single-svg-wrap-wp {
    position: relative; 
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
}

.svg-popup-wrap circle, .svg-popup-wrap-wp circle, 
.svg-popup-wrap-gutters circle, .svg-popup-wrap-crawl circle, 
.svg-popup-wrap-foundation circle, .svg-popup-wrap-air circle{
    stroke: rgb(243, 121, 141);
    stroke-width: 1px;
}

/* styles for info tabs that show up on hover */
.speech-bubble, .speech-bubble-wp, .speech-bubble-gutters, 
.speech-bubble-crawl, .speech-bubble-foundation, 
.speech-bubble-air, 
.single-svg-wrap .speech-bubble-air, 
.single-svg-wrap-wp .speech-bubble-wp{
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.svg-popup-wrap:hover .speech-bubble, 
.svg-popup-wrap-wp:hover .speech-bubble-wp, 
.svg-popup-wrap-gutters:hover .speech-bubble-gutters, 
.svg-popup-wrap-crawl:hover .speech-bubble-crawl, 
.svg-popup-wrap-foundation:hover .speech-bubble-foundation, 

.svg-popup-wrap-air:hover .speech-bubble-air,
.single-svg-wrap:hover .speech-bubble-air,
.single-svg-wrap-wp:hover .speech-bubble-wp{   
    display: block;
}

#finishing:hover .label{
    display: block; 
}


.change-btns{
    display: flex; 
    justify-content: space-between; 
}
.change-btns button {
    border: none; 
    background-color: #ffffff; 
    vertical-align: middle ;
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
    font-weight: 600; 
    cursor: pointer; 
    color: #015eb8; 
    border-radius: 20px; 
}
.change-btns:hover {
    color: #000000; 
}

.hide {
    display: none;
}

/* default styles for second images */
#popup-image-finishing, #popup-image-air, #popup-image-foundation, #popup-image-gutters, #popup-image-crawl, #popup-image-wp {
    transition: opacity 5s ease; 
}

#nextPopup, #next-popup-wp, #next-popup-gutters, #next-popup-crawl, #next-popup-foundation, #next-popup-air {
    display: none; 
}

/* styles for quiz  */
#quiz-popup, #quiz-popup-wp, #popup-wp, #quiz-popup-gutters, #share_button,
 #share_button_wp, #share_button_gutters, #share_button_crawl, #quiz-popup-crawl, 
  #quiz-popup-foundation, #share_button_foundation, #quiz-popup-air, #share_button_air {
    display: none;  
}

.quiz-content, .quiz-content-wp, .quiz-content-gutters,  .quiz-content-crawl, .quiz-content-foundation, .quiz-content-air {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1001; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-color: white; 
    border-radius: 20px;  
    padding: 5px 20px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


form {
    padding: 10px; 
}
label {
    padding: 5px; 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

/* styles for submit or get quote buttons or share button  */
.links {
    display: flex; 
    width: 100%;
    justify-content: space-between;
    padding-top: 20px; 
    gap: 2rem; 
}

.links a {
    width: 50%; 
    text-decoration: none;
    color: #ffffff; 
    background-color:#ea1d2c; 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 600; 
}
.links a:hover {
    background-color:  #000000; 
}
.links button {
    width: 50%; 
    border: none; 
    background-color: #005eb8; 
    color: white; 
    font-weight: 600; 
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.links button:hover {
    background-color: #000000; 
}

.share button {
    border: none; 
    background-color: #1877f2; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px; 
    cursor: pointer;
}


.correct {
    color: green; 
    font-weight: 600; 
}

