* {
    font: 16px Arial, sans-serif;
}

h1 {
    font-size: 30px; 
    padding: 10px; 
    color: #0b4882; 
    font-weight: 600; 
    font-family: 'tg-adventor-bold', 'Adjusted Arial Bold Fallback', sans-serif; 
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.svg-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none; 
}

#gutters {
    grid-column: 3; 
    grid-row: 7; 
}
#crawl-space {
    grid-column: 4; 
    grid-row: 12; 
}
#water-proofing {
    grid-column: 16; 
    grid-row: 13;
}
#foundation {
    grid-column: 6; 
    grid-row: 13; 
}
#finishing {
    grid-column: 12; 
    grid-row: 13; 
}
#air-purifier {
    grid-column: 11; 
    grid-row:11; 
}
.svg-wrap {
    position: relative; 
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
}
.svg-wrap circle {
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-wrap:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}
.svg-wrap .label {
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3000; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    pointer-events: auto; 
    font-weight: 600;   
}

.svg-wrap:hover .label {
    display: block; 
}

#popup, #popup-wp, #popup-gutters, #popup-crawl, #popup-foundation, #popup-air {
    display: none; 
    max-width: 100%; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    z-index: 1000;  
}

#popupContent {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 100; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-color: white; 
    border-radius: 20px;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

#popupContent img {
 width: 900px; 
 height:800px; 
 padding: 20px 20px 0px; 
 border-radius: 10px; 
}

.svg-popup-grid, .svg-popup-grid-wp, .svg-popup-grid-gutters, .svg-popup-grid-crawl, .svg-popup-grid-foundation, 
.svg-popup-grid-air {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none; 
}

.svg-popup-wrap, .svg-popup-wrap-wp, .svg-popup-wrap-gutters, .svg-popup-wrap-crawl, 
.svg-popup-wrap-foundation, .svg-popup-wrap-air {
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto; 
}
.svg-popup-wrap circle, .svg-popup-wrap-wp-wp circle, .svg-popup-wrap-gutters circle, 
.svg-popup-wrap-crawl circle, .svg-popup-wrap-foundation circle, .svg-popup-wrap-air circle{
    stroke: rgb(243, 121, 141); 
    stroke-width: 1px; 
}
.svg-popup-wrap:hover circle, .svg-popup-wrap-wp:hover circle, .svg-popup-wrap-gutters:hover circle, 
.svg-popup-wrap-crawl:hover circle, .svg-popup-wrap-foundation:hover circle, .svg-popup-wrap-air:hover circle {
    fill: rgb(243, 121, 141); 
    cursor:pointer; 
    stroke:#015eb8; 
}

button#close, button#close-wp, button#close-gutters, button#close-crawl, button#close-foundation, button#close-air {
    position: absolute;
    top: 10px;
    left: 10px; 
    background: rgb(228, 227, 227);
    border: 1px solid #333;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    outline: none;
    font-weight: 800;
    z-index: 1;
}

button#close:hover, button#close-wp:hover, button#close-gutters:hover, button#close-crawl:hover, 
button#close-foundation:hover, #button#close-air:hover {
    color: white;
    background: #333;
}


.svg-popup-wrap.finishing {
    grid-column: 9;
    grid-row: 9; 
}
.svg-popup-wrap-wp, .svg-popup-wrap-gutters, .svg-popup-wrap-crawl, .svg-popup-wrap-foundation, .svg-popup-wrap-air {
    grid-column: 9;
    grid-row: 9; 
}

.svg-popup-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    pointer-events: none;
}

.svg-popup-wrap, .svg-popup-wrap-wp, .svg-popup-wrap-gutters, .svg-popup-wrap-crawl, .svg-popup-wrap-foundation, .svg-popup-wrap-air {
    position: relative; 
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
}

.svg-popup-wrap circle, .svg-popup-wrap-wp circle, 
.svg-popup-wrap-gutters circle, .svg-popup-wrap-crawl circle, 
.svg-popup-wrap-foundation circle, .svg-popup-wrap-air circle{
    stroke: rgb(243, 121, 141);
    stroke-width: 1px;
}


.speech-bubble, .speech-bubble-wp, .speech-bubble-gutters, 
.speech-bubble-crawl, .speech-bubble-foundation, .speech-bubble-air {
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.svg-popup-wrap:hover .speech-bubble, 
.svg-popup-wrap-wp:hover .speech-bubble-wp, 
.svg-popup-wrap-gutters:hover .speech-bubble-gutters, 
.svg-popup-wrap-crawl:hover .speech-bubble-crawl, 
.svg-popup-wrap-foundation:hover .speech-bubble-foundation, 
.svg-popup-wrap-air:hover .speech-bubble-air {   
    display: block;
}

#finishing:hover .label{
    display: block; 
}


.change-btns{
    display: flex; 
    justify-content: space-between; 
}
.change-btns button {
    border: none; 
    background-color: #ffffff; 
    vertical-align: middle ;
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
    font-weight: 600; 
    cursor: pointer; 
    color: #015eb8; 
    border-radius: 20px; 
}
.change-btns:hover {
    color: #000000; 
}

.hide {
    display: none;
}

#popup-image-finishing {
    transition: opacity 5s ease; 
}

#nextPopup, #next-popup-wp, #next-popup-gutters, #next-popup-crawl, #next-popup-foundation, #next-popup-air {
    display: none; 
}
#quiz-popup, #quiz-popup-wp, #popup-wp, #quiz-popup-gutters, #share_button,
 #share_button_wp, #share_button_gutters, #share_button_crawl, #quiz-popup-crawl, 
  #quiz-popup-foundation, #share_button_foundation, #quiz-popup-air, #share_button_air {
    display: none;  
}

.quiz-content, .quiz-content-wp, .quiz-content-gutters, .quiz-content-crawl, .quiz-content-foundation, .quiz-content-air {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1001; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    background-repeat: no-repeat;
    background-color: white; 
    border-radius: 20px;  
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

form {
    padding: 10px; 
}
label {
    padding: 5px; 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

.links {
    display: flex; 
    width: 100%;
    justify-content: space-between;
    padding-top: 20px; 
    gap: 2rem; 
}

.links a {
    width: 50%; 
    text-decoration: none;
    color: #ffffff; 
    background-color:#ea1d2c; 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 600; 
}
.links a:hover {
    background-color:  #000000; 
}
.links button {
    width: 50%; 
    border: none; 
    background-color: #005eb8; 
    color: white; 
    font-weight: 600; 
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.links button:hover {
    background-color: #000000; 
}
h2 {
    font-size: 2rem; 
    text-align: center; 
}
.share button {
    border: none; 
    background-color: #1877f2; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px; 
    cursor: pointer;
}